<h1>User has been destroy</h1>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
</p>

<%= link_to 'Index', users_path %> |
<%= link_to 'Create-Fast', "/create_fast?name=#{@user.name}&email=#{@user.email}" %>
